body{
    margin: 0;
    padding: 0;
    background-color: rgb(233, 224, 208);  
}

header{
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 10rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 196, 196);
}

#weatherResult{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}